
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Products</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input [(ngModel)]="term" type="text" class="form-control" id="default-04"
                                                    placeholder="Quick search by id">
                                            </div>
                                        </li>

                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-target="addProduct"
                                                class="toggle btn btn-icon btn-primary d-md-none"><em
                                                    class="icon ni ni-plus"></em></a>
                                            <a routerLink="/products/createproduct" data-target="addProduct"
                                                class="toggle btn btn-primary d-none d-md-inline-flex"><em
                                                    class="icon ni ni-plus"></em><span>Add Product</span></a>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-inner-group">
                            <div class="card-inner p-0">
                                <div class="nk-tb-list">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col nk-tb-col-check">
                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                <input type="checkbox" class="custom-control-input" id="pid">
                                                <label class="custom-control-label" for="pid"></label>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm"><span>Image</span></div>
                                        <div class="nk-tb-col"><span>Name</span></div>
                                        <div class="nk-tb-col"><span>Ref</span></div>
                                        <div class="nk-tb-col"><span>Price</span></div>
                                        <div class="nk-tb-col"><span>Stock</span></div>
                                        <div class="nk-tb-col"><span>Order</span></div>


                                    </div><!-- .nk-tb-item -->
                                    <div *ngFor="let products of productList | filter:term" class="nk-tb-item">
                                        <div class="nk-tb-col nk-tb-col-check">
                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                <input type="checkbox" class="custom-control-input" id="pid1">
                                                <label class="custom-control-label" for="pid1"></label>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub"><img
                                                    style="height: 40%; width: 30%; object-fit: cover;"
                                                    [src]="this.productService.PATH_OF_API + '/Imgproduit/' + products.p_id"
                                                    alt=""></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-product">

                                                <span class="title">{{products.name}}</span>
                                            </span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub">{{ products.p_id }}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-lead">{{ products.price }}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-lead">{{ products.quantity }}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub">{{products.o_id}}</span>
                                        </div>


                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub"></span>
                                        </div>


                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1 my-n1">
                                                <li class="me-n1">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                            data-bs-toggle="dropdown"><em
                                                                class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a (click)="forwardtodetail(products.p_id)"><em
                                                                            class="icon ni ni-edit"></em><span>Edit
                                                                            Product</span></a></li>

                                                                <li><a style="cursor:pointer"
                                                                        (click)="deleteProduct(products.p_id)"><em
                                                                            class="icon ni ni-trash"></em><span>Remove
                                                                            Product</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .nk-tb-list -->
                            </div>
                            <div class="card">
                                <div class="card-inner">
                                    <div class="nk-block-between-md g-3">
                                        <div class="g mx-auto">
                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                <li class="page-item" *ngFor="let p of pages;let i =index">
                                                    <a class="page-link" href="#" (click)="setPage(i,$event)">{{i}}</a>
                                                </li>
                                            </ul><!-- .pagination -->
                                        </div>
                                    </div><!-- .nk-block-between -->
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div>
                    </div>
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->