<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Supplier</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                     
                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-target="addSupplier"
                                                class="toggle btn btn-icon btn-primary d-md-none"><em
                                                    class="icon ni ni-plus"></em></a>
                                            <a routerLink="/Supplier/createsupplier" data-target="addSupplier"
                                                class="toggle btn btn-primary d-none d-md-inline-flex"><em
                                                    class="icon ni ni-plus"></em><span>Add supplier</span></a>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-inner-group">
                            <div class="card-inner p-0">
                                <div class="nk-tb-list">
                                    <div class="nk-tb-item nk-tb-head">

                                        <div class="nk-tb-col tb-col-sm"><span>ADDRESS</span></div>
                                        <div class="nk-tb-col"><span>email</span></div>
                                        <div class="nk-tb-col"><span>name</span></div>
                                        <div class="nk-tb-col"><span></span></div>
                                        <div class="nk-tb-col tb-col-md"><span></span></div>

                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1 my-n1">
                                                <li class="me-n1">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                            data-bs-toggle="dropdown"><em
                                                                class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a routerLink="/Supplier/editsupplier"><em
                                                                            class="icon ni ni-edit"></em><span>Edit
                                                                            Selected</span></a></li>
                                                                <li><a href="#"><em
                                                                            class="icon ni ni-trash"></em><span>Remove
                                                                            Selected</span></a></li>
                                                                <li><a href="#"><em
                                                                            class="icon ni ni-bar-c"></em><span>Update
                                                                            Stock</span></a></li>
                                                                <li><a href="#"><em
                                                                            class="icon ni ni-invest"></em><span>Update
                                                                            Price</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- .nk-tb-item -->
                                    <div *ngFor="let supplier of supplierList" class="nk-tb-item">

                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-product">

                                                <span class="title">{{supplier.address}}</span>
                                            </span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub">{{supplier.email }}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-lead">{{ supplier.name }}</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub"></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub"></span>
                                        </div>


                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1 my-n1">
                                                <li class="me-n1">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                            data-bs-toggle="dropdown"><em
                                                                class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a (click)="forwardtodetail(supplier.id)"><em
                                                                            class="icon ni ni-edit"></em><span>Edit
                                                                            supplier</span></a></li>

                                                                <li><a style="cursor:pointer"
                                                                        (click)="deletesupplier(supplier.id)"><em
                                                                            class="icon ni ni-trash"></em><span>Remove
                                                                            supplier</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .nk-tb-list -->
                            </div>
                    
                        </div>
                    </div>
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>