<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h4 class="fw-medium mb-1 mt-5">Total users with their roles</h4>
                            <p class="mb-0 mt-1">Find all of your company’s administrator accounts and their associate
                                roles.</p>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{data.length}} users.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="more-options">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input [(ngModel)]="term" type="text" class="form-control"
                                                    id="default-04" placeholder="Search by name">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <a href="#"
                                                    class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                                                    data-bs-toggle="dropdown">Roles</a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li *ngFor="let r of roles"><a
                                                                (click)="filterByRole(r.roleName)"><span>{{r.roleName}}</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- <li class="nk-block-tools-opt">
                                            <a href="#" class="btn btn-icon btn-primary d-md-none"><em
                                                    class="icon ni ni-plus"></em></a>
                                            <a href="#" class="btn btn-primary d-none d-md-inline-flex"><em
                                                    class="icon ni ni-plus"></em><span>Add</span></a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <!-- <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div> -->
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">#</span></div>
                            <div class="nk-tb-col"><span class="sub-text">User</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Nom</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Prenom</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Gender</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Phone Number</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Status</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Role</span></div>
                            <!-- <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to All</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend Selected</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Seleted</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Password</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div><!-- .nk-tb-item -->
                        <div class="nk-tb-item" *ngFor="let u of data |filter:term;index as i">
                            <!-- <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div> -->
                            <div class="nk-tb-col tb-col-mb">
                                <span>{{i}}</span>
                            </div>
                            <div class="nk-tb-col">
                                <a style="cursor: pointer;" (click)="forwardtodetail(u.userName)">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                            <div
                                                style="height: 40px; width: 85px; border-radius: 50%; overflow: hidden;">
                                                <img style="height: 100%; width: 100%; object-fit: cover;"
                                                    *ngIf="u.fileName"
                                                    [src]="this.service.PATH_OF_API + '/ImgUsers/' + u.userName"
                                                    alt="User avatar">
                                                <div *ngIf="!u.fileName"
                                                    style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; font-size: 15px; text-transform: uppercase;">
                                                    {{ u.userName[0] }}{{ u.userName[1] }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">{{u.userName}}<span
                                                    class="dot dot-success d-md-none ms-1"></span></span>
                                            <span>{{u.email}}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span>{{u.nom}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span>{{u.prenom}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span
                                    [ngStyle]="{color :u.gender==='MALE' ? '#93D2FFFF' : '#E14099FF' }">{{u.gender}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <span>(+216) {{u.phoneNumber}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <a style="width: 45%; text-align: center; display: flex; align-items: center; justify-content: center;"
                                    *ngIf="u.ban==false" (click)="ban(true,u.userName)" class="btn btn-danger">ban</a>
                                <a style="width: 45%; text-align: center; display: flex; align-items: center; justify-content: center;"
                                    *ngIf="u.ban==true" (click)="ban(false,u.userName)"
                                    class="btn btn-warning">Unban</a>
                            </div>
                            <div class="nk-tb-col tb-col-mb">

                                <span
                                    [ngStyle]="{color: u.role && u.role.length > 0 && u.role[0].roleName === 'Admin' ? 'Red' : 'Green'}">
                                    {{u.role && u.role.length > 0 ? u.role[0].roleName : ''}}
                                </span>

                            </div>
                            <!-- <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email">
                                            <em class="icon ni ni-mail-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend">
                                            <em class="icon ni ni-user-cross-fill"></em>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a [routerLink]="'/users/detailusers/'+u.userName"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-repeat"></em><span>Roles</span></a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Pass</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div><!-- .nk-tb-item -->

                    </div><!-- .nk-tb-list -->
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g mx-auto">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item" *ngFor="let p of pages;let i =index">
                                            <a class="page-link" href="#" (click)="setPage(i,$event)">{{i}}</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul><!-- .pagination -->
                                </div>
                            </div><!-- .nk-block-between -->
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->