<!-- content @s -->
<div class="nk-content p-0">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-chat">
                <div class="nk-chat-aside">
                    <div class="nk-chat-aside-head">
                        <div class="nk-chat-aside-user">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle dropdown-indicator" data-bs-toggle="dropdown">
                                    <div class="user-avatar">
                                      <!--  <img src="./images/avatar/b-sm.jpg" alt="">-->
                                      
                                        <span>{{ data1['userName'][0] | uppercase }}{{ data1['userName'][1] | uppercase
                                            }} </span>
                                            
                                        <span class="status dot dot-lg dot-success"></span>
                                    
                                    </div>
                                    <div class="title">{{data1['userName']}}</div>
                                </a>
                                <div class="dropdown-menu">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><span>Contacts</span></a></li>
                                        <li><a href="#"><span>Channels</span></a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><span>Help</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-chat-aside-user -->
                        <ul class="nk-chat-aside-tools g-2">
                            <li>
                                <div class="dropdown">
                                    <a href="#" class="btn btn-round btn-icon btn-light dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                        <em class="icon ni ni-setting-alt-fill"></em>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><span>Settings</span></a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><span>Message Requests</span></a></li>
                                            <li><a href="#"><span>Archives Chats</span></a></li>
                                            <li><a href="#"><span>Unread Chats</span></a></li>
                                            <li><a href="#"><span>Group Chats</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="btn btn-round btn-icon btn-light">
                                    <em class="icon ni ni-edit-alt-fill"></em>
                                </a>
                            </li>
                        </ul><!-- .nk-chat-aside-tools -->
                    </div><!-- .nk-chat-aside-head -->
                    <div class="nk-chat-aside-body" data-simplebar>
                        <div class="nk-chat-aside-search">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-search"></em>
                                    </div>
                                    <input [(ngModel)]="term" type="text" class="form-control form-round" id="default-03"
                                        placeholder="Search by name">
                                </div>
                            </div>
                        </div><!-- .nk-chat-aside-search -->
                        <div class="nk-chat-aside-panel nk-chat-fav">
                            <h6 class="title overline-title-alt">Contacts</h6>
                            <ul class="fav-list">
                                <li *ngFor="let u of data ">
                                    <a (click)="findChatMessages(data1['userName'],u.userName)">
                                        <div *ngIf="u.userName != data1['userName']" class="user-avatar">
                                            <span>{{ u.userName[0] | uppercase }}{{ u.userName[1] | uppercase}} </span>
                                                
                                            <span class="status dot dot-lg dot-success"></span>
                                        </div>
                                        
                                    </a>
                                </li>

                            </ul><!-- .fav-list -->
                        </div><!-- .nk-chat-fav -->
                        <div class="nk-chat-list">
                            <h6 class="title overline-title-alt">Messages</h6>
                            <ul class="chat-list">
                                <li class="chat-item" *ngFor="let u of convos|filter:term ,let i = index;">
                                    
                                    <a class="chat-link chat-open" (click)="findChatMessages(u.senderId,u.recipientId)">
                                        <div class="chat-media user-avatar bg-purple">
                                            <span>{{ u.recipientId[0] | uppercase }}{{ u.recipientId[1] | uppercase
                                                }}</span>
                                            <span class="status dot dot-lg dot-success"></span>
                                        </div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">{{u.recipientId}}</div>
                                                <span class="time">live chat</span>
                                            </div>
                                            <div class="chat-context">
                                                <div class="text">
                                                    <div >
                                                  <p >tap to chat</p><!--sender Id : last message-->
                                                </div>
                                                </div>
                                                <div class="status delivered">
                                                    <em class="icon ni ni-check-circle-fill"></em>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="chat-actions">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle"
                                                data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#">Mute</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Hide</a></li>
                                                    <li><a href="#">Delete</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Mark as Unread</a></li>
                                                    <li><a href="#">Ignore Messages</a></li>
                                                    <li><a href="#">Block Messages</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- .chat-item -->

                                <!-- .chat-item -->
                            </ul><!-- .chat-list -->
                        </div><!-- .nk-chat-list -->
                    </div>
                </div><!-- .nk-chat-aside -->
                <div class="nk-chat-body profile-shown"  *ngIf="recepient != null">
                    <div class="nk-chat-head">
                        <ul class="nk-chat-head-info">
                            <li class="nk-chat-body-close">
                                <a href="#" class="btn btn-icon btn-trigger nk-chat-hide ms-n1"><em
                                        class="icon ni ni-arrow-left"></em></a>
                            </li>
                            <li class="nk-chat-head-user">
                                
                                <div class="user-card">
                                    <div class="user-avatar">
                                        <!--  <img src="./images/avatar/b-sm.jpg" alt="">-->
                                        
                                          <span>{{ recepient[0] | uppercase }}{{ recepient[1] | uppercase
                                              }} </span>
                                              
                                          <span class="status dot dot-lg dot-success"></span>
                                      
                                      </div>
                                    <div class="user-info">
                                        <div class="lead-text">{{recepient}}</div>
                                        <div class="sub-text"><span class="d-none d-sm-inline me-1">Active </span></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nk-chat-head-tools">
                            <li><a [routerLink]="['/chat/jitsi', { id: data1['userName'],recipient:recepient ,video:true}]" (click)="sendMessage2(recepient)"class="btn btn-icon btn-trigger text-primary"><em
                                        class="icon ni ni-call-fill"></em></a></li>
                            <li><a [routerLink]="['/chat/jitsi', { id: data1['userName'],recipient:recepient ,video:false}]" (click)="sendMessage2(recepient)"class="btn btn-icon btn-trigger text-primary"><em
                                        class="icon ni ni-video-fill"></em></a></li>
                            <li class="d-none d-sm-block">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger text-primary"
                                        data-bs-toggle="dropdown"><em class="icon ni ni-setting-fill"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a class="dropdown-item" href="#"><em
                                                        class="icon ni ni-archive"></em><span>Make as Archive</span></a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><em
                                                        class="icon ni ni-cross-c"></em><span>Remove
                                                        Conversion</span></a></li>
                                            <li><a class="dropdown-item" href="#"><em
                                                        class="icon ni ni-setting"></em><span>More Options</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="me-n1 me-md-n2"><a href="#"
                                    class="btn btn-icon btn-trigger text-primary chat-profile-toggle"><em
                                        class="icon ni ni-alert-circle-fill"></em></a></li>
                        </ul>
                        <div class="nk-chat-head-search">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-search"></em>
                                    </div>
                                    <input type="text" class="form-control form-round" id="chat-search"
                                        placeholder="Search in Conversation">
                                </div>
                            </div>
                        </div><!-- .nk-chat-head-search -->
                    </div><!-- .nk-chat-head -->
                    <div class="nk-chat-panel" #scrollMe>
                        <div *ngFor="let m of messages | orderBy: 'timestamp' ">
                        <div class="chat is-you" *ngIf="m.senderId!=data1.userName">
                            <div class="chat-avatar">
                                <div class="user-avatar bg-purple">
                                    <span>{{ m.senderId[0] | uppercase }}{{ m.senderId[1] | uppercase
                                    }}</span>
                                </div>
                            </div>
                            <div class="chat-content">
                                <div class="chat-bubbles">
                                    <div class="chat-bubble">
                                        <div class="chat-msg"> {{m.content}} </div>
                                        <ul class="chat-msg-more">
                                            <li class="d-none d-sm-block"><a href="#"
                                                    class="btn btn-icon btn-sm btn-trigger"><em
                                                        class="icon ni ni-reply-fill"></em></a></li>

                                                        <li *ngIf="m.content.includes('Started a Video Call')" class="d-none d-sm-block"><a [routerLink]="['/chat/jitsi', { id: data1['userName'],recipient:recepient ,video:true}]"
                                                            class="btn btn-icon btn-sm btn-trigger"><em
                                                                class="icon ni ni-video-fill "></em></a></li>
                                            <li>
                                                <div class="dropdown">
                                                    <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle"
                                                        data-bs-toggle="dropdown"><em
                                                            class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li class="d-sm-none"><a href="#"><em
                                                                        class="icon ni ni-reply-fill"></em> Reply</a>
                                                            </li>
                                                            
                                                            <li><a href="#"><em class="icon ni ni-pen-alt-fill"></em>
                                                                    Edit</a></li>
                                                            <li><a href="#"><em class="icon ni ni-trash-fill"></em>
                                                                    Remove</a></li>
                                                                    
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <ul class="chat-meta">
                                    <li>{{m.senderId}}</li>
                                    <li>{{m.timestamp |  date :'short'}}</li>
                                </ul>
                            </div>
                        </div><!-- .chat -->
                        <div class="chat is-me"*ngIf="m.senderId==data1.userName">
                            <div class="chat-content">
                                <div class="chat-bubbles">
                                    <div class="chat-bubble">
                                        <div class="chat-msg">{{m.content}} </div>
                                        <ul class="chat-msg-more">
                                            <li class="d-none d-sm-block"><a href="#"
                                                    class="btn btn-icon btn-sm btn-trigger"><em
                                                        class="icon ni ni-reply-fill"></em></a></li>
                                                        <li *ngIf="m.content.includes('Started a Video Call')" class="d-none d-sm-block"><a [routerLink]="['/chat/jitsi', { id: data1['userName'],recipient:recepient ,video:true}]"
                                                            class="btn btn-icon btn-sm btn-trigger"><em
                                                                class="icon ni ni-video-fill "></em></a></li>
                                            <li>
                                                <div class="dropdown">
                                                    <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle"
                                                        data-bs-toggle="dropdown"><em
                                                            class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-sm">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li class="d-sm-none"><a href="#"><em
                                                                        class="icon ni ni-reply-fill"></em> Reply</a>
                                                            </li>
                                                            <li><a href="#"><em class="icon ni ni-pen-alt-fill"></em>
                                                                    Edit</a></li>
                                                            <li><a href="#"><em class="icon ni ni-trash-fill"></em>
                                                                    Remove</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="chat-meta">
                                    <li>{{m.senderId}}</li>
                                    <li>{{m.timestamp |  date :'short'}}</li>
                                </ul>
                            </div>
                        </div><!-- .chat -->

                    </div>
                    </div><!-- .nk-chat-panel -->
                    <div class="nk-chat-editor">
                        <div class="nk-chat-editor-upload  ms-n1">
                            <a href="#" class="btn btn-sm btn-icon btn-trigger text-primary toggle-opt"
                                data-target="chat-upload"><em class="icon ni ni-plus-circle-fill"></em></a>
                            <div class="chat-upload-option" data-content="chat-upload">
                                <ul class="">
                                    <li><a href="#"><em class="icon ni ni-img-fill"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-camera-fill"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-mic"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-grid-sq"></em></a></li>
                                </ul>
                            </div>
                        </div>
                       
                            <div class="nk-chat-editor-form">
                                <div class="form-control-wrap">
                                    <form [formGroup]="MessageAdd" (ngSubmit)="MessageAdd">
                                    <textarea formControlName="content"
                                        class="form-control form-control-simple no-resize" rows="1"
                                        id="default-textarea" placeholder="Type your message..."></textarea>
                                    </form>
                                </div>
                            </div>
                       
                        <ul class="nk-chat-editor-tools g-2">
                            <li>
                                <a  href="#" class="btn btn-sm btn-icon btn-trigger text-primary"><em
                                        class="icon ni ni-happyf-fill"></em></a>
                            </li>
                            <li>
                                <button (click)="sendMessage(recepient);findChatMessages(data1['userName'],recepient);getChatRooms(data1['userName'])" class="btn btn-round btn-primary btn-icon" [disabled]="MessageAdd.invalid"><em
                                        class="icon ni ni-send-alt"></em></button>
                            </li>
                        </ul>
                    </div>
                </div><!-- .nk-chat-body -->
            </div><!-- .nk-chat -->
        </div>
    </div>
    
</div>

<script>
    global = globalThis // fix for "global not defined" error
</script>


<!-- content @e -->