   <!-- content @s -->
   <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Add My Bank Account</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-inner">
                            <h5 class="card-title">Bank Account Details</h5>
                            <p>please enter your bank account details.</p>
                            <form  [formGroup]="bankForm" class="gy-3 form-settings">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Bank Name</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input formControlName="bankName" type="text" class="form-control" id="site-name" placeholder="Bank Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Account Name</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input formControlName="accountName" type="text" class="form-control" id="site-name" placeholder="Account Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-email">Bank Account Number</label>
                                        </div>
                                    </div>
                                 
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input formControlName="accountNumber" type="text" class="form-control" name="number" id="number" placeholder="4242 4242 4242 4242">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-copyright">Limit Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input formControlName="limitAmount" type="text" class="form-control" id="site-copyright" placeholder="Limit Ex: 15000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        
                                            <div class="form-group">
                                              <div class="custom-control custom-switch me-n2 checked">
                                                <input type="checkbox" class="custom-control-input" id="status" formControlName="status">
                                                <label class="custom-control-label" for="status"></label>
                                              </div>
                                            
                                          </div>
                                    </div>
                                </div>
                                
                                <div class="row g-3">
                                    <div class="col-lg-7 offset-lg-5">
                                        <div class="form-group mt-2">
                                            <button type="submit" (click)="addBankAccount()" class="btn btn-lg btn-primary">Add Bank Account</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->