<div id="wrapper">
    <div class="container">
        <div class="row text-center">
            <div class="check_mark_img">
                <img src="../../../assets/images/completed.png" alt="image_not_found">
            </div>
            <div class="sub_title">
                <span>Your submission has been received</span>
            </div>
            <div class="title pt-1">
                <h3>Thankyou For your Answer you got {{score*5}} on 20 </h3>
                <a routerLink="/courses/displaycourse">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>