<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Projects</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{projects.length}} projects.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">

                                        <li class="nk-block-tools-opt d-none d-sm-block" *ngIf="data.role!='Employee'">
                                            <a data-bs-toggle="modal" href="#modalCreate" data-bs-config={backdrop:true}
                                                class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add
                                                    Project</span></a>
                                        </li>
                                        <li class="nk-block-tools-opt d-block d-sm-none">
                                            <a href="#" class="btn btn-icon btn-primary"><em
                                                    class="icon ni ni-plus"></em></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-sm-6 col-lg-4 col-xxl-3" *ngFor="let p of projects">
                            <!--boucle for besh njib les projet we nhothom -->
                            <div class="card h-100">
                                <div class="card-inner" style="cursor:pointer">
                                    <div class="project">
                                        <div class="project-head">
                                            <a class="project-title" (click)="redirect(p.id)">
                                                <div class="user-avatar sq bg-purple"><span>{{p.projectname[0]}}{{p.projectname[1]}}</span></div>
                                                <div class="project-info">
                                                    <h6 class="title">{{p.projectname}}</h6>
                                                    <span class="sub-text" style="font-size: 14px;">Date émission: {{p.dateEmission}} </span>
                                                </div>
                                            </a>
                                            <div class="drodown" *ngIf="data.role!='Employee'">
                                                <a href="#"
                                                    class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 me-n1"
                                                    data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a (click)="Update(p.id)"><em
                                                                    class="icon ni ni-mail"></em><span>Update</span></a>
                                                        </li>
                                                        <li><a (click)="deleteproject(p.id)"><em
                                                                    class="icon ni ni-na"></em><span>Delete</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="project-details">
                                            <p>{{p.description}}</p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details" [ngSwitch]="p.etat">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span> {{p.taskCount}}
                                                        Tasks</span></div>
                                                <ul *ngSwitchCase="'active'" style="color:rgb(37, 175, 50)">
                                                    <li>Active</li>
                                                </ul>
                                                <ul *ngSwitchCase="'inactive'" style="color:red">
                                                    <li>Inactive</li>
                                                </ul>
                                            </div>

                                            <div class="progress progress-pill progress-md bg-light">
                                                <div class="progress-bar" data-progress="93.5"></div>
                                            </div>
                                        </div>

                                        <div class="project-meta">

                                            <span class="badge badge-dim bg-warning"><em
                                                    class="icon ni ni-clock"></em><span>{{p.dateExpiration}}</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
<app-createproject></app-createproject>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>