<ng-progress [speed]="0.5" [trickleSpeed]="30"></ng-progress>

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <ngtypewriter class="nk-block-title page-title" [StringList]='list' [speed]='1000'>
                        </ngtypewriter>
                        <div class="nk-block-head-content">
                            <!-- <h3 >Dashboard</h3> -->


                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#"
                                                    class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                                    data-bs-toggle="dropdown"><em
                                                        class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                                            class="d-none d-md-inline">Last</span> 30 Days</span><em
                                                        class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Last 30 Days</span></a></li>
                                                        <li><a href="#"><span>Last 6 Months</span></a></li>
                                                        <li><a href="#"><span>Last 1 Years</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em
                                                    class="icon ni ni-reports"></em><span>Reports</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block" *ngIf="roles =='Financial Manager'">
                    <div class="row g-gs">
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Total Payments I Made</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">$ {{paymentTotal}}</div>
                                                <div class="nk-ecwg6-ck">
                                                    <!-- <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>-->
                                                </div>
                                            </div>
                                            <br>
                                            <!-- <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>4.63%</span><span> vs. last week</span></div> -->
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner" style="padding-bottom: 46px;">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Today Payments</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">${{paymentTotalToday}}</div>
                                                <div class="nk-ecwg6-ck">
                                                    <!-- <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas> -->
                                                </div>
                                            </div>
                                            <div class="info" *ngIf="paymentTotalTodayPercentage >= 0"><span
                                                    class="change up text-success"><em
                                                        class="icon ni ni-arrow-long-up"></em>{{paymentTotalTodayPercentage
                                                    | number: '1.2-2' }}%</span><span> vs. Yesterday</span></div>
                                            <div class="info" *ngIf="paymentTotalTodayPercentage <= 0"><span
                                                    class="change down text-danger"><em
                                                        class="icon ni ni-arrow-long-down"></em>{{paymentTotalTodayPercentage
                                                    | number: '1.2-2' }}%</span><span> vs. Yesterday</span></div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">This Month Payments</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{paymentTotalMonth.length}} Payments</div>
                                            </div>
                                            <div class="transaction-container">
                                                <div class="info"><span class="change up text-success"><em
                                                            class="icon ni ni-arrow-long-up"></em>{{HighestPayment.amountPaid}}
                                                    </span></div>
                                                <div class="info"><span class="change down text-danger"><em
                                                            class="icon ni ni-arrow-long-down"></em>{{LowestPayment.amountPaid}}
                                                    </span></div>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div>

                        <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Highest And Lowest Transactions</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{transactionCountMonth}} This Month</div>
                                            </div>
                                            <div class="transaction-container">
                                                <div class="info"><span class="change up text-success"><em
                                                            class="icon ni ni-arrow-long-up"></em>{{HighestTransaction.amount}}
                                                    </span></div>
                                                <div class="info"><span class="change down text-danger"><em
                                                            class="icon ni ni-arrow-long-down"></em>{{LowestTransaction.amount}}
                                                    </span></div>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div><!-- .nk-ecwg -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-6">
                            <div class="card card-full">
                                <div class="nk-ecwg nk-ecwg8 h-100">
                                    <div class="card-inner">
                                        <div class="card-title-group mb-3">
                                            <div class="card-title">
                                                <h6 class="title">Balance Changes This Month</h6>
                                            </div>

                                        </div>

                                        <div class="nk-ecwg8-ck">
                                            <canvas class="ecommerce-line-chart-s4" #canvas></canvas>
                                        </div>
                                        <div class="chart-label-group ps-5">
                                            <div class="chart-label">{{MonthAgoDate | date:'dd MMMM yyyy' }}</div>
                                            <div class="chart-label">{{currentDate | date:'dd MMMM yyyy' }}</div>
                                        </div>
                                    </div><!-- .card-inner -->
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card card-full overflow-hidden">
                                <div class="nk-ecwg nk-ecwg7 h-100">
                                    <div class="card-inner flex-grow-1">
                                        <div class="card-title-group mb-4">
                                            <div class="card-title">
                                                <h6 class="title">Users Payment Status</h6>
                                            </div>
                                        </div>
                                        <div class="nk-ecwg7-ck">
                                            <canvas class="ecommerce-doughnut-s1" #canvas2></canvas>
                                        </div>
                                        <ul class="nk-ecwg7-legends">
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#816bff"></span>
                                                    <span>Paid</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#ff82b7"></span>
                                                    <span>Unpaid</span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div><!-- .card-inner -->
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                       
                        <div class="col">
                            <div class="row-xxl-3 row-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Budgets (Highest and Lowest)</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">{{budgetCount}} Budgets</div>
                                                </div>
                                                <div class="transaction-container">
                                                    <div class="info">{{HighestBudget.projectName}}<span class="change up text-success"><em
                                                                class="icon ni ni-arrow-long-up"></em>{{HighestBudget.budgetAmount}}
                                                        </span></div>
                                                    <div class="info">{{LowestBudget.projectName}}<span class="change down text-danger"><em
                                                                class="icon ni ni-arrow-long-down"></em>{{LowestBudget.budgetAmount}}
                                                        </span></div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div>
                            <br>
                            <div class="row-xxl-3 row-sm-3">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Projects</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">{{ProjectCount}} Projects</div>
                                                </div>
                                                <div class="transaction-container">
                                                    <div class="info"><span class="change up text-success"><em
                                                                class="icon ni ni-arrow-long-up"></em>{{ProjectActiveCount}} Active Projects 
                                                        </span></div>
                                                    <div class="info"><span class="change down text-danger"><em
                                                                class="icon ni ni-arrow-long-down"></em> {{ProjectInActiveCount}}
                                                        </span></div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div>
                            
                        </div>
                        <div class="row-xxl-3 col-md-12">
                            <div class="card card-full overflow-hidden">
                                <div class="nk-ecwg nk-ecwg7 h-100">
                                    <div class="card-inner flex-grow-1">
                                        <div class="card-title-group mb-4">
                                            <div class="card-title">
                                                <h6 class="title">{{taskCount}} Tasks Total  This Month  </h6>
                                            </div>
                                        </div>
                                        <div class="nk-ecwg7-ck">
                                            <canvas class="ecommerce-doughnut-s1" #canvas3></canvas>
    
                                        </div>
                                        <ul class="nk-ecwg7-legends">
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#8294C4"></span>
                                                    <span>In Progress</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#DBDFEA"></span>
                                                    <span>Completed</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#FFEAD2"></span>
                                                    <span>Open</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title">
                                                    <span class="dot dot-lg sq" data-bg="#ACB1D6"></span>
                                                    <span>To Review</span>
                                                </div>
                                            </li>
    
                                        </ul>
                                    </div><!-- .card-inner -->
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
    <!-- content @e -->